* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

.contenedor-imagen{
    background-color: #6b8722;
}



p {
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1.2rem;
    background-color: #868D01;
    box-shadow: 0px 5px 45px rgba(0, 0, 0, 0.329);


    width: 100%;

    /* position: fixed;
    top: 0; */
}
.logo {
    max-width: 12rem;
}
.fa-solid, .fas {
    color: white;
}
.navegation {
    visibility: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1.5rem;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;

    background-color: #4e4d4d;

    box-shadow: 0 0 0 100vmax rgba(53, 52, 52, 0.6);
    padding: 1.2rem;

    width: 150px;

    z-index: 1;
}
.navegation.visible {
    visibility: visible;
}

.container-btn {
    width: 100%;

    display: flex;
    justify-content: flex-end;
}
.abrir-menu,
.cerrar-menu {
    display: block;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
.abrir-menu {
    color: #1c1c1c;
}
.cerrar-menu {
    color: #ececec;
}



.navegation-list {
    list-style-type: none;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.navegation-list li {
    text-align: center;
}
.navegation-list li a {
    text-decoration: none;
    color: white;
}
.navegation-list li a:hover {
    color: rgb(198, 196, 196);
}


.imagenAbout{
    width: 100%;
}




footer {
    background-color: #000;
    color: #fff;
}
.container_footer {
    background-color: #000;
    color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.our-restaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;

    width: 100%;
}
.section_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.section_links div {
    display: flex;
    gap: 1rem;
}
.titulo-footer {
    inline-size: max-content;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;

    margin-top: 0.5rem;
}
.links-footer {
    text-decoration: none;

    color: #fff;
}

.google_maps {
    text-align: center;
}
.mapa {
    width: 90%;
    border-radius: 5px;
    padding: 0.5rem;
}
.mapa:hover {
    scale: 1.1;
    transition: 0.3s;
}

.contact p {
    text-align: center;
}
.getinTouch {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#copyright {
    padding-bottom: 5px;
    text-align: center;
}


.textoNosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5rem;
    font-family: 'Delicious Handrawn', cursive;
    margin: 0;
}

.textoNosotros h1{
    font-family: 'Delicious Handrawn', cursive;
    font-size: 2.8rem;
    color: white;
    margin-top: 2rem;
}

.textoNosotros p{
    font-family: 'Delicious Handrawn', cursive;
    font-size: 1.5rem;
    letter-spacing: .1em;
    margin: 0.4rem;
    margin-bottom: 2rem;
    color: white;
    width: 92%;
    letter-spacing: 1px;
    word-spacing: 5px;
    text-align: justify;
}

.grid-3{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.img-grid{
    width: 90%;
    /* aspect-ratio: 1; */
    margin: auto;
    border-radius: 5%;

    object-fit: cover;

}

.img-grid:last-of-type{
    margin-bottom: 1em;
}


.fa-solid, .fas {
    color: white;
}
        


@media (min-width:600px) {
    .navegation {
        visibility: visible;
        position: inherit;

        display: block;
        
        background-color: transparent;
    
        box-shadow: none;
        padding: 0;
    
        width: 100%;
    }
    .abrir-menu, .container-btn {
        display: none;
    }
    .navegation-list {
        flex-direction: row;
        justify-content: flex-end;
    }

    .section_links {
        flex-direction: row;
        gap: 3rem;
    }
    .section_links div {
        gap: 3rem;
    }

    .google_maps {
        width: 80%;
    }
    .google_maps iframe {
        margin-top: 5px;
    }

    .textoNosotros p{
        word-spacing: 0;
        text-align: initial;
    }

    .grid-3{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding: 1rem;
    }
}

@media (min-width: 768px){
    .textoNosotros p{
        margin-bottom: 1em;
    }
}

@media (min-width:1024px) {

    .container_footer {
        flex-direction: row;
        justify-content: center;
        padding: 1rem 0;
    }

    .our-restaurant, .google_maps, .getinTouch {
        width: 30%;
    }
    .section_links, .section_links div {
        flex-direction: column;
        gap: 1rem;
    }

    .links-footer {
        text-align: center;
    }

    .imagenAbout{
        width: 30rem;
        height: auto;
        margin: 1rem 2rem 1rem 1rem;
        border: 1px solid gray;
        border-radius: .5rem;
    
    }
    
    
    .textoNosotros p{
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
        color: black;
        line-height: 1.5rem;
        color: rgb(232, 231, 231);
        letter-spacing: .1rem;
    }
    
    .textoNosotros h1{
        text-align: center;
        margin-bottom: 1rem;
        font-size: 4rem;
        font-family: 'Montserrat', sans-serif;
        color: rgb(232, 231, 231)
    }
    
    .flexAbout{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 95%;
        gap: 3rem;
        margin-bottom: 1rem;
    }

    .img-grid{
        border: 1px solid gray;
        border-radius: 20px;
        margin-bottom: 1rem;
        
    }
    
    .img-grid:hover{
        transform: scale(1.10);
        transition: .25s ease-in-out;
    
    }
    
    
    .grid-3{
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 2rem;
        padding: 1rem;
    }

   
       
}

@media (min-width:1300px) {
    
    .navegation {
        width: auto;
    }

    .navegation-list {
        gap: 4rem;
    }
}
