* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;

  box-sizing: border-box;
}

p {
  margin: 0;
}

.contenedor-imagen {
  background-image: url(/assets/img/tacosPared.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: 100vh;

  display: flex;

  /* align-items: flex-end;
  justify-content: center; */
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


.btn {
  border-radius: 4px;
  box-shadow: 5px 5px #444444;
  border: #000 solid 0.1rem;

  text-decoration: none;
  text-align: center;
  font-size: 0.7rem;

  padding: 0.7rem;
  margin-bottom: 8rem;

  width: 10rem;

  transition: all 0.5s;
  cursor: pointer;
}
.btn:hover {
  -webkit-box-shadow: 0px 0px 20px 8px rgba(232, 219, 134, 1);
  -moz-box-shadow: 0px 0px 20px 8px rgba(232, 219, 134, 1);
  box-shadow: 0px 0px 20px 8px rgba(232, 219, 134, 1);

  border: #e8db86 solid 0.1rem;
}
.btn a {
  text-decoration: none;
  color:#000;
  font-weight: 900;
}


@media (min-width:1024px) {
  .btn {
      margin-bottom: 6rem;
  }
}

@media (min-width:1160px) {
  .btn {
      margin-bottom: 4rem;
  }
}

@media (min-width:1300px) {
  .contenedor-imagen {
    height: 120vh;
  }

  .btn {
    margin-bottom: 6rem;
  }
}

@media (max-height:420px) and (orientation:landscape) {
  .contenedor-imagen {
    background-position-y: -22rem;
  }

  .btn {
      margin-bottom: 1rem;
  }
}

@media (max-height:380px) and (orientation:landscape) {
  .contenedor-imagen {
    background-position-y: -15rem;
  }

  .btn {
      margin-bottom:0;
  }
}
