* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;

  box-sizing: border-box;

  overflow-x: hidden;
}

p {
  margin: 0;
}

.contenedor {
  width: 100%;
  height: 100%;
}


