* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;

  box-sizing: border-box;
}

p {
  margin: 0;
}

.contenedor-imagen {
  background-image:
      linear-gradient(to bottom, rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.6)),
      url(/IMG/pexels-roman-odintsov-4958641.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: 100%;

  display: flex;

  /* align-items: flex-end;
  justify-content: center; */
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}


.grid {
  display: none;
}
.imagen-carta{
  width: 95%;
  margin: 0.5rem;
}

.carta{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem;
  color: #fff;
  width: 100%;
  margin-top: 2rem;
  padding: .7em;
}
.titulo{
  text-align: center;
  font-weight: 700;
  margin-bottom: 1rem;
  padding: 0.2rem;
  font-size: 1rem;
  color: #e5dd8f;
  background-color: #000;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-family: 'Open Sans', sans-serif;
}
.nombre{
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
.descripcion{
  margin-top: 0.5rem;
  font-size: 0.6rem;
  line-height: 0.98rem;
  text-align: center;
}

@media (min-width:350px) {
  .carta {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width:600px) {
  .contenedor-imagen {
      background-image: url(/assets/img/pexels-shameel-mukkath-14930621.jpeg);
      background-size: auto;
  }
  .carta {
    display: none;
  }
  .grid {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      margin: 1rem;
  }
}

@media (min-width:1300px) {
  .contenedor-imagen {
    height: 100%;
  }
}

@media (max-height:420px) and (orientation:landscape) {
  .contenedor-imagen {
    background-position-y: -22rem;
  }
}

@media (max-height:380px) and (orientation:landscape) {
  .contenedor-imagen {
    background-position-y: -15rem;
  }
}
